.component.county-overlay {
  position:absolute;
  bottom: 10px;
  right: 25px;
  padding:10px;
  z-index:10;
  display:none;
  background-color:white;
  border-radius:3px;
  font-size:75%;
  width: 380px;

  h3 {
    margin:0;
    display:block;
    border-bottom:solid 2px black;
    padding-right:38px;
    padding-bottom: 5px;
  }

  button.close {
    position:absolute;
    top: 11px;
    right:$padding;
    width: 10px;
    height: 10px;
  }

  ul {
    margin:0;
    padding:0;
    margin-right:38px;

    &.loading {
      opacity: 0.3;
    }

    li {
      list-style-type: none;
      margin:0;
      padding-top:$paddingSmall;

      strong {
        float: right;
        margin-left: 30px;
        margin-right: -32px;
      }

      &.population {

      }

      &.outmigration {
        color: #8E9E96;
      }

      &.inmigration {
        color:$colorDarkRed;
      }

      &.cotton {
        color:$colorCotton;
      }

      &.sugar {
        color:$colorSugar;
      }
    }
  }

  &.show {
    display:block;
  }
}
