.component.county-bubble-plot {
  position:relative;
  width: 100%;
  height: 100%;
  text-align: center;

  text {
    font-family: sans-serif;
    font-size: 12px;
    fill: #444;
  }
  .label {
    font-size: 16px;
    line-height: 1;
    fill: #444;
    font-weight: normal;
  }
  .axis text {
    fill: #888;
  }
  .legend {
    font-size: 12px;
    color: #999;
    display: inline-block;
    padding: 4px 8px;
  }
  .legend:hover {
    cursor: pointer;
    background: #ddd;
    color: #000;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #ddd;
    stroke-width: 0.5px;
  }
  .x.axis line {
    stroke: #ddd;
  }
  .axis path {
    display: none;
  }
  path {
    fill: none;
    stroke: #111;
    stroke-opacity: 0.3;
    stroke-width: 2.5px;
  }
  .county-path {
    pointer-events: none;
  }
  circle {
    stroke: #333;
    cursor:pointer;
  }
  h2 {
    margin-bottom: 0;
  }
  .active {
    font-weight: bold;
    color: #000;
  }
  #tooltip {
    position: absolute;
    pointer-events: none;
    top: -500px;
    left: -500px;
    background: #fff;
    opacity: 0.95;
    border: 1px solid #d0d0d0;
    box-shadow: 1px 1px 6px #ccc;
    border-radius: 3px;
    padding: 3px 6px;
    margin-top: -48px;
    margin-left: 12px;
    font-size: 13px;
    display: none;
  }
  h3 {
    margin-bottom: 0px;
  }
  h4 {
    margin: 0;
  }

  .internal-label {
    font-size: 75%;
    fill: #999;
    font-weight: bold;
    text-transform: uppercase;
  }

  .county-label {
    padding:3px;
    font-size:50%;
    background-color:$colorLightGreen;
    display:none;
    border-radius:3px;
  }



  &.county-selected {

    circle {
      fill-opacity:.1;
      stroke-opacity:.1;

      &.selected {
        fill-opacity:1;
        stroke-opacity:1;
      }
    }
  }
}

.tab-panel {
  .component.county-bubble-plot {
    margin-top: 0;
  }
}

.background-inmigrations {
  fill: $colorDarkRed;
  fill-opacity: 0.02;

  .sidebar & {
    fill-opacity: 0;
  }
}

.background-outmigrations {
  fill: $colorLightTeal;
  fill-opacity: 0.04;

  aside & {
    fill-opacity: 0 !important;
  }
}

.bubble-chart-legend {
  position: absolute;
  left: 10px;
  bottom: 0;
  padding: 8px;
  background-color: $colorLighterGreen;
  color: $colorDarkerGreen;
  border-radius:3px;
  font-size: 75%;

  .bubble-chart--circles {
    position: relative;

    .circle {
      fill: $colorDarkerGreen;
      stroke: none;
    }
  }

  .bubble-chart--values {
    overflow: hidden;

    span {
      float: left;
    }

    span:last-child {
      float: right;
    }
  }

  .bubble-chart-label {
    margin: 0;
    padding: 0;
    font-size: 11px;
  }
}
